.pageWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.container {
    padding: 40px;
}

.header {
    margin-bottom: 20px;
}

.header span {
    color: red;
}

.main {
    width: 100%;
    display: flex;
    height: calc(100vh - 00px);
    /* 👈 adjusts based on navbar */
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    height: auto;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
}

.chartsColumn {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}




.cardsColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    gap: 20px;
}


.subChartsRow {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    height: auto;
}

.subChartsRow>div {
    flex: 1;
    aspect-ratio: 1 / 1;
    height: 100%;
}


@media (max-width: 768px) {
    .subChartsRow {
        flex-direction: column;
        gap: 20px;
        height: 500px;
        width: 60%;
        /* Ajustement de la hauteur pour les petits écrans */
    }

    .subChartsRow>div {
        height: 200px;
        /* Réduit sur petit écran */
    }
}