.container {
    background-color: #FF0000;
    border-radius: 5px;
    padding: 0;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    padding: 10px;
    opacity: 0.5;
    font-size: 15px;
}

.chartContent {
    flex: 1;
}

.tooltip {
    background-color: white;
    padding: 8px 12px;
    color: black;
    font-size: 12px;
    border-radius: 4px;
}