.top-nav {
    background-color: #020203;
    color: white;
    align-items: center;
    padding: 10px 30px;
    font-size: 20px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}

.top-nav ul{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;

}
.top-nav a{
    color: white;
    margin: 0 15px;
}
